import random
choice="y"
while choice=="y":
    def play():
        user=input("'r' for rock ,'p' for paper,'s' for scissors:\n")
        computer=random.choice(['r','p','s'])
        if user==computer:
            return "tie"
        if is_win(user,computer):
            return "you won!"
        return "you lost!"
    def is_win(player,opponent):
        if(player=="r" and opponent=="s")or (player=="s" and opponent=="p") or(player=="p" and opponent=="r"):
            return True
    print(play())
    print("play again??")
    choice=input("'y' for yes and 'n' for no:\n")


